# Python  / Django
__pycache__/
*.py[cod]
*.log
migrations/

# SQLite DB (Local Only)
db.sqlite3

# Virtual environmenent
ll_env/
.env/
venv/
.venv/
ENV/

# VS code settings
.vscode/

# OS / editor junk

.DS_Store
Thumbs.db
*.swp
*.swo