{% extends "base.html" %}

{% block content %}

    <h2>{{ topic }}</h2>

    <p>Entries:</p>

    <p>
        <a href="{% url 'new_entry' topic.id %}">Add New Entry</a>
    </p>

    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:"M d, Y H:i" }}</p>
                <p>{{ entry.text | linebreaks }}</p>
                <p><a href="{% url 'edit_entry' entry.id %}">Edit Entry</a></p>
            </li>
        {% empty %}
            <p>No entries have been added yet.</p>
        {% endfor %}
    </ul>

{% endblock content %}
